<h1><i>Our Projects</i></h1>
<div id="projects">     
    <div class="row container-fluid align-self-center" >        
        <div class="col-lg-4 col-md-4 col-sm-4" *ngFor="let project of projects" style="margin-bottom: 30px;">
          <div class="card">              
            <img src="{{project.ImgSrc}}" class="card-img-top" alt="..." >
            <div class="card-body">
              <h5 class="card-title ">{{project.Title}}</h5>
              <p id="cardtext" class="card-text ">{{project.Description}}</p>
              <a type="btn" routerLink='/projectDetail/{{project.Title}}' (click)="projDetail(project.Title)"><label>Read more</label></a>
            </div>
          </div>
        </div>        
      </div> 
 </div> 

 