<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-end">
    <ul class="navbar-nav justify-content-end">       
        <li class="nav-item">
          <a class="nav-link active" routerLink='/home'>Home</a>
        </li>    
        <li class="nav-item">
          <a class="nav-link active" routerLink='/portfolio'>Portfolio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" routerLink='/contact'>Contact</a>
          </li> 
      </ul>
      </nav>
  <h1>
      Kon'nichiwa !
  </h1>
  <!-- <div class="row">
    <div class="col-xs-12 col-md-12">
        <button class="form-control">Bootstrap</button>
    </div>   
  </div> -->
 </div>
<router-outlet></router-outlet>
